/* *{
	margin: 0%;
	padding: 0%;
	
} */


	body{
		margin: 10px;
		height: 100vh;
		background-color: antiquewhite;
		}
		/* display: flex; */
		/* align-items: center;
		justify-content: center; */
		/* background: linear-gradient(113.58893008880955deg, rgba(236, 236, 236,1) 4.927083333333334%,rgba(195, 229, 248,1) 97.84374999999999%) */

		/* background: radial-gradient(circle at center,mediumpurple,#000);
	} */
		/* background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); */
		/* background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); */
p{
	font-size: 18px;
	font-weight: 500;	
	}
	
P:nth-child(5n-1){
            color: #aa007f;
        }
		
P:nth-child(5n-2){
            color: #00557f;
        }	
			
P:nth-child(5n-3){
            color: #008a00;
        }	

P:nth-child(5n-4){
            color: #aa0000;
        }	
		
span.bl{
	background-color: #aaffff;
}

span.rd{
	background-color: #ffaa7f;
}