/* *{
	margin: 0%;
	padding: 0%;
	
} */


	body{
		margin: 10px;
		height: 100vh;
		background-color: antiquewhite;
		}
		/* display: flex; */
		/* align-items: center;
		justify-content: center; */
		/* background: linear-gradient(113.58893008880955deg, rgba(236, 236, 236,1) 4.927083333333334%,rgba(195, 229, 248,1) 97.84374999999999%) */

		/* background: radial-gradient(circle at center,mediumpurple,#000);
	} */
		/* background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); */
		/* background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); */
p{
	font-size: 18px;
	font-weight: 500;	
	}
	
img{
	width: 98%;
}
div:nth-child(5n+1){
            color: #555500;
        }
		
div:nth-child(5n+2){
            color: #1900b3;
        }	
			
div:nth-child(5n+3){
            color: #703198;
        }	

div:nth-child(5n+4){
            color: #006266;
        }	
		
		
span.bl{
	background-color: #aaffff;
}

span.rd{
	background-color: #ffaa7f;
}

a:hover{
	background-color: #aaffff;
	color: darkred;
	font-size: 25px;
	TEXT-DECORATION:none
	
}

a{
	/* size: 30px; */
	margin-left: 60px;
	color: antiquewhite;
	text-align: center;
	border: 2px dashed orange;
	width: 90px;
	height: 35px;
	display:block;
}