/* *{
	margin: 0%;
	padding: 0%;
} */

.body{
	display: flex;
	justify-content: center;
	align-items: center;
}


a:hover{
	background-color: orange;
}

a{
	size: 30px;
	color: white;
	border: 2px dashed orange;
}

audio{
	width: 600px;
	/* height: 90px; */
}

a.lj{
	color: blue;
	margin: 10px;
}

