*{
	
	margin: left 10px;
	padding: 0%;
}

body{
	/* text-align: center; */
	/* display: -moz-box;
	display: -webkit-box;
	-moz-box-pack: center;
	-webkit-box-pack: center; */
	/* height: 100vh;
	width: 100vw; */
	/* display: flex; */
	/* justify-content: center; */
	background-color: antiquewhite;
	/* max-width: 360px;
	text-align: center; */
}

.zy{
	
	font-size: 20px;
}

.zy h2{
	text-align:center;
}

audio{
	background-color: antiquewhite;
}

img{
	width: 100%; 
}

/* 手机部分 */

/* @media (max-width:500px) {
	img{
		
		max-width: 360px;	
	}	
	.zy{
		max-width: 380px;
		overflow: hidden;
		
	}	
}
 */


/* 平板部分 */
@media (min-width:510px) & @media (max-width:830px) {
	img{
		/* margin-left: 10px; */
		max-width: 760px;	
	}	
	.zy{
		max-width: 780px;
		overflow: hidden;
		font-size: 24px;
	}
	
}

/* img{	
	max-width: 360px;	
} */

/* .zy{
	max-width: 400px;
} */